
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Remove spinner for Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

::placeholder {
  font-size: 14px;
}
input, select {
  outline: none;
}
.animate-spin {
  animation: spin 1s linear infinite;
}
